<div class='row'>
    <div class='col-xs-8'>
        <input type='number' placeholder='{{currencyobject.selectedcurrency.currency}}' class='form-control' ng-model='currencyobject.amount' ng-focus='changeDirection(source)'>
    </div>
    <div class='col-xs-4'>
        <select name='currencySelect' id='currencySelect' ng-model='currencyobject.selectedcurrency'
            ng-options='c.currency for c in currencies' class='form-control' ng-focus='changeDirection(1)'>
        </select>
    </div>
</div>
